<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="protocol" value="https"/>
    <add key="host" value="www.ubs.com"/>
    <add key="url" value=""/>
    <add key="customerLogin" value="testUser"/>
    <add key="customerPassword" value="testUserPassword"/>
    <add key="longTimeout" value="60"/>
    <add key="mediumTimeout" value="30"/>
    <add key="shortTimeout" value="1"/>
    <add key="browser" value="Chrome"/>
  </appSettings>
</configuration>